:root {
	--font-main: 'Poppins', sans-serif;
    --font-secondary: 'Work Sans', sans-serif;
    --color-gray: #bbb;
    --color-black: #000;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: var(--font-main);
	font-weight: 500;
}

html {
	font-size: 62.5%;
}
